*.pyc
*.pyo
/src/build
/src/dist
/src/projexui.egg-info
/.build
/bin/*.exe
/bin/*.zip
/resources/projexui_apps.qrc
/resources/projexui_default.qrc
/resources/projexui_styles.qrc
/src/projexui/configs/xshortcutconfig/ui/__init__.py
/src/projexui/configs/xshortcutconfig/ui/xshortcutwidget_pyside_ui.py
/src/projexui/dialogs/xaboutdialog/ui/__init__.py
/src/projexui/dialogs/xaboutdialog/ui/xaboutdialog_pyside_ui.py
/src/projexui/dialogs/xconfigdialog/ui/__init__.py
/src/projexui/dialogs/xconfigdialog/ui/xconfigdialog_pyside_ui.py
/src/projexui/dialogs/xshortcutdialog/ui/__init__.py
/src/projexui/dialogs/xshortcutdialog/ui/xshortcutdialog_pyside_ui.py
/src/projexui/dialogs/xwizardbrowserdialog/ui/__init__.py
/src/projexui/dialogs/xwizardbrowserdialog/ui/xwizardbrowserdialog_pyside_ui.py
/src/projexui/resources/rc/pyqt4_projexui_apps_rc.py
/src/projexui/resources/rc/pyqt4_projexui_default_rc.py
/src/projexui/resources/rc/pyqt4_projexui_styles_rc.py
/src/projexui/resources/rc/pyside_projexui_apps_rc.py
/src/projexui/widgets/xchart/ui/__init__.py
/src/projexui/widgets/xchart/ui/xchart_pyside_ui.py
/src/projexui/widgets/xcollapsibleloggerwidget/ui/__init__.py
/src/projexui/widgets/xcollapsibleloggerwidget/ui/xcollapsibleloggerwidget_pyside_ui.py
/src/projexui/widgets/xganttwidget/ui/__init__.py
/src/projexui/widgets/xganttwidget/ui/xganttwidget_pyside_ui.py
/src/projexui/widgets/xloggerwidget/ui/__init__.py
/src/projexui/widgets/xloggerwidget/ui/xloggercontrols_pyside_ui.py
/src/projexui/widgets/xlogrecordwidget/ui/__init__.py
/src/projexui/widgets/xlogrecordwidget/ui/xlogrecordcontrols_pyside_ui.py
/src/projexui/widgets/xlogrecordwidget/ui/xlogrecordwidget_pyside_ui.py
/src/projexui/widgets/xmenutemplatewidget/ui/__init__.py
/src/projexui/widgets/xmenutemplatewidget/ui/xmenutemplatewidget_pyside_ui.py
/src/projexui/widgets/xorbbrowserwidget/ui/__init__.py
/src/projexui/widgets/xorbbrowserwidget/ui/xorbbrowserwidget_pyside_ui.py
/src/projexui/widgets/xorbbrowserwidget/ui/xorbquerywidget_pyside_ui.py
/src/projexui/widgets/xorbgridedit/ui/__init__.py
/src/projexui/widgets/xorbgridedit/ui/xorbgridedit_pyside_ui.py
/src/projexui/widgets/xorbgroupingwidget/ui/__init__.py
/src/projexui/widgets/xorbgroupingwidget/ui/xorbgroupingwidget_pyside_ui.py
/src/projexui/widgets/xorbquerywidget/ui/__init__.py
/src/projexui/widgets/xorbquerywidget/ui/xorbquerycontainer_pyside_ui.py
/src/projexui/widgets/xorbquerywidget/ui/xorbqueryentrywidget_pyside_ui.py
/src/projexui/widgets/xorbrecordsetedit/ui/__init__.py
/src/projexui/widgets/xorbrecordsetedit/ui/xorbrecordsetedit_pyside_ui.py
/src/projexui/widgets/xprogressfeedbackwidget/ui/__init__.py
/src/projexui/widgets/xprogressfeedbackwidget/ui/xprogressfeedbackwidget_pyside_ui.py
/src/projexui/widgets/xquerybuilderwidget/ui/__init__.py
/src/projexui/widgets/xquerybuilderwidget/ui/xquerybuilderwidget_pyside_ui.py
/src/projexui/widgets/xquerybuilderwidget/ui/xquerylinewidget_pyside_ui.py
/src/projexui/widgets/xrichtextedit/ui/__init__.py
/src/projexui/widgets/xrichtextedit/ui/xfontpickerwidget_pyside_ui.py
/src/projexui/widgets/xrichtextedit/ui/xrichtextedit_pyside_ui.py
/src/projexui/widgets/xviewwidget/ui/__init__.py
/src/projexui/widgets/xviewwidget/ui/xviewprofiledialog_pyside_ui.py
/src/projexui/windows/xdkwindow/ui/__init__.py
/src/projexui/windows/xdkwindow/ui/xdkwindow_pyside_ui.py
/src/projexui/wizards/xscaffoldwizard/ui/__init__.py
/src/projexui/wizards/xscaffoldwizard/ui/xscaffoldstructurepage_pyside_ui.py
projexui/resources/rc/pyside_apps_rc.py
projexui/resources/rc/pyside_default_rc.py
projexui/resources/rc/pyside_styles_rc.py
